.navbar{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top{
    display: flex;
    margin-right: 1rem;

}
.icons{
    padding-left: 1rem;
}
.icons a {
    font-size: .8rem;
    font-weight: 200;
    color: var(--color-white);
    text-decoration: none;
    margin-left: 2rem;
    background: transparent;
}
.icons a:hover{
    color: var(--light-blue);
}

.nav-symbols{
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
}


.nav-links{
    display: flex;
    background: transparent;
}


.nav-links li{
    margin-left: 1rem;
    list-style: none;
    height: 18%;
    background: transparent;
   
}



.nav-links a {
   
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
    background: transparent;
}
.nav-links a:hover{
    color: var(--light-blue);
}


.navbar .menu-icons{
    
    display: none;
}


@media screen and (max-width: 900px) {
    .mobhide{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .mobhide{
        display: none;
    }
    .navbar{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
        background: transparent;
        
    }
    .navbar .menu-icons{
        display: block;  
    }
   
    .navbar 
    #nav-links-mobile,
    .navbar 
    #nav-links-mobile-hide{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        transform: translateX(-10%);
        width: 100%;
        padding-bottom: 5px;
        transition: all 1s;
        font-size: 2rem;
        
        
    }
    .navbar 
    #nav-links-mobile{
        
        animation: slide-in 1.5s ease-in-out;
    }
    .navbar 
    #nav-links-mobile-hide{
        left: -400%;
        animation: slide-out 2s ease-in-out;
        
    }
    .navbar 
    #nav-links-mobile li,
    .navbar 
    #nav-links-mobile-hide li{
        font-size: 2rem;
        text-align: center;
       padding-left: 6rem;
       padding-top: 1rem;
    }
    
    

}


